**/target
**/node_modules
**/.next
apps/dist
apps/.vite
apps/.turbo
*.tsbuildinfo
.git
.github
portable
docs
specs
.worktrees
*.db
*.sqlite
*.log
!target/
!target/release/
!target/release/codexmanager-service
!target/release/codexmanager-web
!.cargo/
!.cargo/config.toml
!vendor-rust/
!vendor-rust/**
